<div class="w-[600px] bg-white rounded-lg shadow p-6 mb-8">
    <div class="flex justify-center w-full">
        <div class="flex-shrink-0 mr-5">
            <div class="flex items-center justify-center font-bold w-12 h-12 bg-gray-300 rounded-full cursor-pointer">
                W
            </div>
        </div>
        <div class="flex-1">
            <textarea 
            (keyup.ENTER)="sendTweet()"
            [(ngModel)]="tweetMessage" (input)="changeTweet()" class="mb-2 bg-gray-200 focus:outline-none focus:shadow-outline focus:bg-gray-100 resize-none border border-transparent rounded-lg py-2 px-4 block w-full appearance-none leading-normal font-light placeholder-gray-400" placeholder="Qual a boa de hoje?!!" rows="3" [maxlength]="tweetMaxLength"></textarea>
            
            <div class="w-auto border rounded-lg shadow">
            </div>

            <div class="flex justify-end items-baseline">
                <div class="mr-5 font-thin text-gray-500">
                    <span>{{tweetRemain}}</span>
                </div>
                <div class="mt-5">
                    <button (click)="sendTweet()" type="button" class="w-32 focus:outline-none border border-transparent py-2 px-5 rounded-lg bg-blue-500 hover:bg-blue-600 font-medium text-white shadow text-center">
                        Tweet
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>
